*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

:root
{
    --betumeret : 1.15vw;
    --field_betu_meret : 0.9vw;
}

body,html
{
    width: 100%;
    height: 100%;

}

body
{
    background-color: lightseagreen;
}

a
{
    text-decoration: none;
    color: inherit;
}

input::placeholder
{
    font-size: 0.8vw;
}

 nav
{
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100dvh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    font-size: 1.25;

    .logo
    {   
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin-bottom: 10%;
        font-weight: bold;
        font-size: var(--betumeret);

    }

    .nav_item
    {
        width: 100%;
        height: 80%;
        color: rgba(0, 0, 0, 0.7);
        font-size: var(--betumeret);

        & ul
        {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style-type: none;
            gap:2%;
        }

        & li
        {
            width: 80%;
            height: clamp(30px,3vw,150px);
            display: flex;
            align-items: center;
            gap: 5%;
            padding-left: 5%;
            border-radius: 0.8vw;
            transition: scale .3s ease;
        }


        & li:hover
        {
            background-color: green;
            color: white;
            cursor: pointer;
            scale: 1.1;
        }

        & li:last-child
        {
            color: red;
            margin-top: 20vh;

        }

        & li:last-child:hover
        {
            background-color: red;
            color: white;
        }
    }

  

   
} 

#felugroablak
{
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    top: 0%;
    left: 0%;
    width: 80%;
    height: 100%;
    background-color: white;
    padding-left: 5%;
    z-index: 9999;
}

.wrapper
{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin-left: 20%;

}

.mobilnezet
{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding-inline:5% ;
    width: 100%;
    height: 8%;
    z-index: 10000;

    .baloldal
    {
        display: flex;
        gap: 10%;
    }
}

main
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(239,239,240);

    & header
    {
        display: flex;
        width: 100%;
        height: 10%;
        position: relative;
        align-items: center;
        font-size: var(--betumeret);
        justify-content: space-between;
        padding-inline: 5%;
        
        

        .profil
        {
            display: flex;
            width: 20%;
            align-items: center;
        }

        .profilkep
        {
            
            width: 3vw;
            height: 3vw;
            border-radius: 50%;
            background-image: url(../img/profil.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-inline-start: 1%;
            margin-right: 2%;
            
        }

        .notif
        {
            position: relative;
            font-size: 2vw;
        }

        /* .notif::before
        {
            content: '●';
            font-size: 1rem;
            color: red;
            position: absolute;
            top: -25%;
            right: 0;
        } */


      
    }

    .main_content
    {
        width: 100%;
        height: 90%;
        position: relative;
        padding: 5%;
        overflow-y: auto;
      

        & h1 
        {
            position: absolute;
            /* z-index: 999; */
            top: 1vw;
            left: 5%;
            font-size: 2vw;
        }
        
        .column_wrapper
        {
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow-y: auto;
            gap: 1.5vh;
            margin-top: 2.5vh;

            .item
            {
                position: relative;
                width: 100%;
                height: 30vh;
                background-color: rgb(255, 255, 255);
                border-radius: 1.2vw;
                padding: 2%;
                display: flex;
                gap: 5%;

                
                
                & img
                {
                    width: 20%;
                    border-radius: 1vw;
                    
                }

                .content_wrapper
                {
                    display: flex;
                    justify-content: space-evenly;
                    flex-direction: column;
                    width:80%;
                    height:100%;
                    font-size: var(--betumeret);

                    & p 
                    {
                        height: 3lh;
                        overflow: hidden;
                    }
                    

                    & ul
                    {
                        display: flex;
                        list-style-type: none;
                        width: 100%;
                        gap: 5%;

                        & li
                        {
                            display: flex;
                            width: 30%;
                            gap: 5%;
                            transition: transform 0.2s ease;
                            font-size: 1vw;
                        }

                        & li:hover
                        {
                            transform: scale(1.05);
                            cursor: pointer;
                        }

                        & li:nth-child(1)
                        {
                            color: green;
                            font-weight: bold;
                        }

                        & li:nth-child(2)
                        {
                            color: rgb(67, 158, 188);
                            font-weight: bold;
                        }

                        & li:nth-child(3)
                        {
                            color: red;
                            font-weight: bold;
                        }
                    }
                }

                #kiemelve_block
                {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 10%;
                    height: 20%;
                    top: 10%;
                    right: 2%;
                    background-color: green;
                    color: white;
                    border-radius: 0.5vw;
                  
                }
            }


            .item:hover
            {
                border: green 1px solid;
            }

        }

        
    }
}

.torles_wrapper
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.6);
    
    .torles_block
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
        background-color: rgb(255, 255, 255);
        width: 40vw;
        height: 35vw;
        border-radius: 2vw;

        & i
        {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3vw;
            background-color: red;
            width: 15%;
            height: 15%;
        }
    }

}

/* MOBILNEZET */

@media (max-width:600px) {
    nav
    {
        display: none;
    }

    .wrapper
    {
        margin: 0;
        width: 100%;

        & header
        {
            display: none;
        }

        .mobilnezet
        {
            display: flex;
        }
        
        .main_content
        {
            margin-top: 10vh ;

            & h1 {
                font-size: 2.5vh;
            }

            
         }
    }
        
    

    #felugroablak
    {
        align-items: flex-start;
        gap: 1%;

        .profil_mobil
        {
            margin-top: 20%;
            height: 10%;
            width: 100%;
            border-bottom: 1px solid black;

            .profilkep
            {
                background-image: url(../img/profil.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 50%;
                width: 50px;
                height: 50px;
            }

            .nev_kep
            {
                display: flex;
                align-items: center;
                padding: 10px;
                gap: 5%;
                width: 100%;
            }
        }

        .nav_item
        {
            display: flex;
            flex-direction: column;
            width: 80%;
            height: 100%;
           

            & ul
            {
                height: 50%;
                width: 100%;
                gap: 5%;

                & li
                {
                    
                    font-size: 2vh;
                    width: 100%;
                    padding: 5%;
                    height: clamp(40px,3vw,150px);

                    
                }

               
        
                & li:focus
                {
                    background-color: green;
                    color: white;
                    cursor: pointer;
                    scale: 1.1;
                }
            }
        }
    }
  
}
